.NavbarItems {
  background-color: #0906ad;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
}

.navbar-logo {
  color: #ffffff;
  justify-self: start;
  margin-left: 15px;
  cursor: pointer;
  text-shadow: 1px 1px 1px #ffb700;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 5px;
  list-style: none;
  text-align: center;
  width: 65vw;
  justify-content: end;
  margin-right: 2rem;
  background-color: transparent;
}

.nav-links {
  color: #ffffff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-weight: 900;
}

.nav-links:hover {
  /* text-shadow: 1px 1px 1px #ffb700; */
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #ffffff;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 190px;
    position: absolute;
    top: 40px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #0906ad;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 1rem;
    width: 75%;
    display: table;
    background-color: transparent;
    border-bottom: 2px solid #ffffff;
    text-shadow: none;
  }

  .navbar-logo {
    position: absolute;
    left: 0;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-75%, 20%);
    font-size: 2rem;
    cursor: pointer;
  }

  .fa-times {
    color: #ffffff;
    font-size: 2rem;
  }

  .button1 {
    margin-top: 0%;
  }
}

@media screen and (max-width: 375px) {
  .navbar-logo {
    width: 185px;
  }
}
